@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  @apply w-28 sm:w-36 flex justify-center items-center border;
}

.cross .cross-svg, .circle .circle-svg {
  @apply block;
}
.active-player {
  @apply font-bold bg-red-400
}

#message-box img {
  animation: rotating-crown 1s ease-in-out infinite;
}

@keyframes rotating-crown {
  0% {
    transform: rotate(-15deg)
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg)
  }
}